[submodule "ansible-playbook-with-roles"]
	path = ansible-playbook-with-roles
	url = https://github.com/ismail-gits/ansible-playbook-with-roles.git
[submodule "ansible-playbook-aws-eks"]
	path = ansible-playbook-aws-eks
	url = https://github.com/ismail-gits/ansible-playbook-aws-eks.git
[submodule "ansible-playbook-docker-and-terraform"]
	path = ansible-playbook-docker-and-terraform
	url = https://github.com/ismail-gits/ansible-playbook-docker-and-terraform.git
[submodule "ansible-playbook-dynamic-inventory"]
	path = ansible-playbook-dynamic-inventory
	url = https://github.com/ismail-gits/ansible-playbook-dynamic-inventory.git
[submodule "ansible-playbook-nexus-deployment"]
	path = ansible-playbook-nexus-deployment
	url = git@github.com:ismail-gits/ansible-playbook-nexus-deployment.git
